.block {
	display: block;
	width: 42.59%;
	margin: .7rem;
	padding: .5rem;
	background-color: transparent;
	vertical-align: middle;
	overflow: visible;
	border-radius: 1rem;
	transition: scale(1);
	text-decoration: none;
}

a, a:hover {
	text-decoration: none;
}

.block:hover {
	transform: scale(1.1);
}

.imgg {
	width: 100%;
	height: 180px;
	top: 0;
	left: 0;
	bottom: 0;
	vertical-align: middle;
}

.imggs {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	vertical-align: middle;
	position: relative;
}

.namee {
	background-color: transparent;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	display: inline-block;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	font-size: 15px;
	margin-bottom: 15%;
}

.price {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: .5rem;
	overflow: hidden;
	color: red;
	font-weight: bold;
	text-align: right;
	font-size: 17px;
}
