.mainContainer {
	padding: 20px;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-success {
	border-color: #041FE1;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	-webkit-border-top-right-radius: -1;
	-moz-border-radius-topright: -1;
	border-top-right-radius: -1;
	-webkit-border-top-left-radius: -1;
	-moz-border-radius-topleft: -1;
	border-top-left-radius: -1;
}

.panel-success>.panel-heading {
	background-color: #FFAC23;
	color: #fff;
}

.panel-success>.panel-heading {
	color: inherit;
	border-color: #041FE1;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

.main-content{
	background-color: #fff;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-right: 10px;
}

.title-content{
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 1rem;
	color: initial;
}